
.vs/Pro100-T7/v16/Server/sqlite3/db.lock
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide-shm
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide-wal
.vs/Pro100-T7/v16/TestStore/0/000-0000.testlog
.vs/Pro100-T7/v16/TestStore/0/testlog.manifest
