
Pro100-T7/Pro100-T7.csproj.user
Pro100-T7/obj/ARM/Debug/XamlTypeInfo.g.cs
Pro100-T7/obj/ARM/Debug/XamlSaveStateFile.xml
Pro100-T7/obj/ARM/Debug/Pro100-T7.csprojAssemblyReference.cache
Pro100-T7/obj/ARM/Debug/MainPage.g.i.cs
Pro100-T7/obj/ARM/Debug/MainPage.g.cs
Pro100-T7/obj/ARM/Debug/App.g.i.cs
Pro100-T7/obj/ARM/Debug/App.g.cs
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide-wal
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide-shm
.vs/Pro100-T7/v16/Server/sqlite3/storage.ide
.vs/Pro100-T7/v16/Server/sqlite3/db.lock
